.NavBar {
  margin: 0 auto;
  width: 1440px;
}

.navbar {
    background: rgba(200, 60, 41, 1);
    height: 87px;
    top: 0; 
    left: 0;
    border-bottom: 6px solid #000000;
    margin: 0 auto;
  }
  
  .nav {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin: 0 auto;
  }
  .nav p  {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    margin-top: 25px;
  }
  .all-pokemons {
    text-decoration: none;
    font-style: normal;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
  }
  
  





