.Foot {
    margin: 0 auto; 
    width: 1440px;
}


.Footer {
    height: 136px;
    background-color: #121212;
    padding-top: 20px;
    position: sticky;
}
.contacts {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 16px;  
}


.Footer .title p {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

